In [1]:
from datetime import datetime
import numpy as np
import pandas as pd
import random

In [ ]:
# Дараах kernel-үүдэд эцсийн data submit хийхэд шаардлагатай туршилтууд агуулагдана

In [2]:
# Одоогийн хугацааг аваад timestamp-руу хөрвүүлж нэг үзэх
now_dt = datetime.now()
now_ts = datetime.timestamp(now_dt)

print(now_dt)
print(now_ts)

2020-03-31 12:59:24.069578
1585630764.069578

In [3]:
# Санамсаргүйгээр хэдэн секунтууд сонгоод шинэ timestamp-уудын жагсаалтыг 
# өмнөх үүсгэсэн хугацааны timestamp дээр нэмэх байдлаар үүсгэх
ts_list = [now_ts]
ts      = now_ts
for i in range(0, 10):
    ts = ts + random.randrange(20, 40)
    ts_list.append(ts)

ts_list

[1585630764.069578,
 1585630786.069578,
 1585630818.069578,
 1585630856.069578,
 1585630883.069578,
 1585630911.069578,
 1585630949.069578,
 1585630974.069578,
 1585630999.069578,
 1585631025.069578,
 1585631048.069578]

In [4]:
# Үүсгэсэн unix timestamp-уудын жагсаалтуудыг буцаагаад datetime
# объектүүдрүү хөрвүүлж нэг харах
for dt in [datetime.utcfromtimestamp(i) for i in ts_list]:
    print(dt)

2020-03-31 04:59:24.069578
2020-03-31 04:59:46.069578
2020-03-31 05:00:18.069578
2020-03-31 05:00:56.069578
2020-03-31 05:01:23.069578
2020-03-31 05:01:51.069578
2020-03-31 05:02:29.069578
2020-03-31 05:02:54.069578
2020-03-31 05:03:19.069578
2020-03-31 05:03:45.069578
2020-03-31 05:04:08.069578

In [5]:
# Эдгээр timestamp-уудын жагсаалтыг тодорхой хугацааны завсарт
# шахаж хөрвүүлэх туршилт хийхийн тулд завсарыг илэрхийлэх
# timestamp-уудыг үүсгэх
scale_min = now_ts
scale_max = now_ts+8*60 
print(scale_min, scale_max)

1585630764.069578 1585631244.069578

In [6]:
# Жагсаалтаа numpy массив болгож үүсгэх
ts_list_np = np.array(ts_list)
ts_list_np

array([1.58563076e+09, 1.58563079e+09, 1.58563082e+09, 1.58563086e+09,
       1.58563088e+09, 1.58563091e+09, 1.58563095e+09, 1.58563097e+09,
       1.58563100e+09, 1.58563103e+09, 1.58563105e+09])

In [7]:
# timestamp-уудын жагсаалтыг scale_min болон scale_max утгуудын хооронд хүчээр align хийх
# буюу нэг ёсондоо дөхөлт хийлгэн агшаах/сунгах.
rescaled_ts_list = np.interp(ts_list_np, (ts_list_np.min(), ts_list_np.max()), (scale_min, scale_max))

In [8]:
# Өмнөх timestamp-уудын жагсаалтыг datetime хөрвүүлгээр харах
print("===== before scale =======")
for dt in [datetime.utcfromtimestamp(i) for i in ts_list]:
    print(dt)

# Тодорхой завсарт агшаах/сунгасны дараах үр дүнг харах
print("===== after rescaled =====")
for dt in [datetime.utcfromtimestamp(i) for i in rescaled_ts_list]:
    print(dt)

scale to between 07:22 and 07:30
===== before scale =======
2020-03-31 04:59:24.069578
2020-03-31 04:59:46.069578
2020-03-31 05:00:18.069578
2020-03-31 05:00:56.069578
2020-03-31 05:01:23.069578
2020-03-31 05:01:51.069578
2020-03-31 05:02:29.069578
2020-03-31 05:02:54.069578
2020-03-31 05:03:19.069578
2020-03-31 05:03:45.069578
2020-03-31 05:04:08.069578
===== after rescaled =====
2020-03-31 04:59:24.069578
2020-03-31 05:00:01.252676
2020-03-31 05:00:55.337183
2020-03-31 05:01:59.562536
2020-03-31 05:02:45.196338
2020-03-31 05:03:32.520282
2020-03-31 05:04:36.745634
2020-03-31 05:05:18.999155
2020-03-31 05:06:01.252676
2020-03-31 05:06:45.196338
2020-03-31 05:07:24.069578

In [9]:
# Бодит test датаг дуурайлгахын тулд шинээр pandas dataframe үүсгэх
d  = {'TIMESTAMP': ts_list, 'DATETIME': [datetime.utcfromtimestamp(i) for i in ts_list]}
df = pd.DataFrame(data=d)
df

       TIMESTAMP                   DATETIME
0   1.585631e+09 2020-03-31 04:59:24.069578
1   1.585631e+09 2020-03-31 04:59:46.069578
2   1.585631e+09 2020-03-31 05:00:18.069578
3   1.585631e+09 2020-03-31 05:00:56.069578
4   1.585631e+09 2020-03-31 05:01:23.069578
5   1.585631e+09 2020-03-31 05:01:51.069578
6   1.585631e+09 2020-03-31 05:02:29.069578
7   1.585631e+09 2020-03-31 05:02:54.069578
8   1.585631e+09 2020-03-31 05:03:19.069578
9   1.585631e+09 2020-03-31 05:03:45.069578
10  1.585631e+09 2020-03-31 05:04:08.069578

In [10]:
# test датаг дуурайлган зарим мөрүүдийг нь сохлох
df.iloc[1  ] = np.nan
df.iloc[4:7] = np.nan
df.iloc[9  ] = np.nan
df

       TIMESTAMP                   DATETIME
0   1.585631e+09 2020-03-31 04:59:24.069578
1            NaN                        NaT
2   1.585631e+09 2020-03-31 05:00:18.069578
3   1.585631e+09 2020-03-31 05:00:56.069578
4            NaN                        NaT
5            NaN                        NaT
6            NaN                        NaT
7   1.585631e+09 2020-03-31 05:02:54.069578
8   1.585631e+09 2020-03-31 05:03:19.069578
9            NaN                        NaT
10  1.585631e+09 2020-03-31 05:04:08.069578

In [11]:
# backup timestamp list-ийг эцсийн submission-д scale хийх туршилтын 
# хүрээнд багана байдлаар хадгалж авах. Энэ баганы scale хийж харна.
another_df = pd.DataFrame(
    data={
        'TIMESTAMP': rescaled_ts_list,
        'DATETIME' : [datetime.utcfromtimestamp(i) for i in rescaled_ts_list]
    })
df['TIMESTAMP_BK'] = another_df['TIMESTAMP']
df['DATETIME_BK' ] = another_df['DATETIME' ]
df

,TIMESTAMP,DATETIME,TIMESTAMP_BK,DATETIME_BK
0,1.585631e+09,2020-03-31 04:59:24.069578,1.585631e+09,2020-03-31 04:59:24.069578
1,NaN,NaT,1.585631e+09,2020-03-31 05:00:01.252676
2,1.585631e+09,2020-03-31 05:00:18.069578,1.585631e+09,2020-03-31 05:00:55.337183
3,1.585631e+09,2020-03-31 05:00:56.069578,1.585631e+09,2020-03-31 05:01:59.562536
4,NaN,NaT,1.585631e+09,2020-03-31 05:02:45.196338
5,NaN,NaT,1.585631e+09,2020-03-31 05:03:32.520282
6,NaN,NaT,1.585631e+09,2020-03-31 05:04:36.745634
7,1.585631e+09,2020-03-31 05:02:54.069578,1.585631e+09,2020-03-31 05:05:18.999155
8,1.585631e+09,2020-03-31 05:03:19.069578,1.585631e+09,2020-03-31 05:06:01.252676
9,NaN,NaT,1.585631e+09,2020-03-31 05:06:45.196338
10,1.585631e+09,2020-03-31 05:04:08.069578,1.585631e+09,2020-03-31 05:07:24.069578

In [12]:
# TIMESTAMP багана дээр суурилан сохолсон завсаруудыг илрүүлэн хадгалах
gap_start = None
gap_end   = None
gap_list  = []

for idx, row in df.iterrows():
    timestamp = row['TIMESTAMP']
    if (pd.isna(timestamp)):
        prev_timestamp = df.iloc[idx-1]['TIMESTAMP']
        if (not pd.isna(prev_timestamp)):
            gap_start = idx-1
            pass
        next_timestamp = df.iloc[idx+1]['TIMESTAMP']
        if (not pd.isna(next_timestamp)):
            gap_end = idx+1
            gap_list.append((gap_start, gap_end))
            
gap_list

[(0, 2), (3, 7), (8, 10)]

In [13]:
# Сохолсон завсарт байгаа эхлэл төгсөл timestamp-уудын дагуу
# backup timestamp-уудыг scale хийж хадгалах. 
# Ингээд энэ хэсэгт туршилт дуусч байна.
for gap in gap_list:
    gap_start = gap[0]
    gap_end   = gap[1]
    scale_min = df.iloc[gap_start]['TIMESTAMP']
    scale_max = df.iloc[gap_end  ]['TIMESTAMP']
    bk_timestamps = df.iloc[gap_start:gap_end+1]['TIMESTAMP_BK'].values
    
    rescaled = np.interp(
        bk_timestamps, 
        (bk_timestamps.min(), bk_timestamps.max()), 
        (scale_min, scale_max)
    )
    iter_count = gap_end - gap_start
    for i in range(0, iter_count+1):
        idx = gap_start+i
        df.at[idx, 'TIMESTAMP_SCALED'] = rescaled[i]
        df.at[idx, 'DATETIME_SCALED' ] = datetime.utcfromtimestamp(rescaled[i])
    
df

,TIMESTAMP,DATETIME,TIMESTAMP_BK,DATETIME_BK,TIMESTAMP_SCALED,DATETIME_SCALED
0,1.585631e+09,2020-03-31 04:59:24.069578,1.585631e+09,2020-03-31 04:59:24.069578,1.585631e+09,2020-03-31 04:59:24.069578
1,NaN,NaT,1.585631e+09,2020-03-31 05:00:01.252676,1.585631e+09,2020-03-31 04:59:46.069578
2,1.585631e+09,2020-03-31 05:00:18.069578,1.585631e+09,2020-03-31 05:00:55.337183,1.585631e+09,2020-03-31 05:00:18.069578
3,1.585631e+09,2020-03-31 05:00:56.069578,1.585631e+09,2020-03-31 05:01:59.562536,1.585631e+09,2020-03-31 05:00:56.069578
4,NaN,NaT,1.585631e+09,2020-03-31 05:02:45.196338,1.585631e+09,2020-03-31 05:01:23.069578
5,NaN,NaT,1.585631e+09,2020-03-31 05:03:32.520282,1.585631e+09,2020-03-31 05:01:51.069578
6,NaN,NaT,1.585631e+09,2020-03-31 05:04:36.745634,1.585631e+09,2020-03-31 05:02:29.069578
7,1.585631e+09,2020-03-31 05:02:54.069578,1.585631e+09,2020-03-31 05:05:18.999155,1.585631e+09,2020-03-31 05:02:54.069578
8,1.585631e+09,2020-03-31 05:03:19.069578,1.585631e+09,2020-03-31 05:06:01.252676,1.585631e+09,2020-03-31 05:03:19.069578
9,NaN,NaT,1.585631e+09,2020-03-31 05:06:45.196338,1.585631e+09,2020-03-31 05:03:45.069578
10,1.585631e+09,2020-03-31 05:04:08.069578,1.585631e+09,2020-03-31 05:07:24.069578,1.585631e+09,2020-03-31 05:04:08.069578

In [ ]:
# Дараах kernel-үүдээс эхлэн BusNet-ээр predict хийж бөглөсөн timestamp-уудыг 
# test дээрхи завсаруудын дагуу scale хийн эцсийн submission хийх үр дүн болгон бэлтгэнэ.

In [14]:
# BusNet-ээр бөглөсөн timestamp-уудыг эцсийн submission-д бэлтгэх
test_df = pd.read_csv("./out/test_df_preadjustion.csv")

In [15]:
test_df.head(15)

,Unnamed: 0,index,BUSROUTE_ID,BUS_ID,BUSSTOP_ID,BUSSTOP_SEQ,RECORD_DATE,TIMESTAMP,TIMESTAMP_BK
0,0,3220254,11100010,2054,11,3,2020-01-22 09:23:36,1.579685e+09,1.579685e+09
1,1,3220255,11100010,2054,9,4,NaN,1.579685e+09,NaN
2,2,3220256,11100010,2054,6,5,2020-01-22 09:27:26,1.579685e+09,1.579685e+09
3,3,3220257,11100010,2054,4,6,NaN,1.579685e+09,NaN
4,4,3220258,11100010,2054,147,7,NaN,1.579686e+09,NaN
5,5,3220259,11100010,2054,149,8,2020-01-22 09:32:52,1.579686e+09,1.579686e+09
6,6,3220260,11100010,2054,151,9,NaN,1.579686e+09,NaN
7,7,3220261,11100010,2054,1225,10,NaN,1.579686e+09,NaN
8,8,3220262,11100010,2054,274,11,2020-01-22 09:42:33,1.579686e+09,1.579686e+09
9,9,3220263,11100010,2054,273,12,NaN,1.579686e+09,NaN
10,10,3220264,11100010,2054,279,13,NaN,1.579687e+09,NaN
11,11,3220265,11100010,2054,281,14,NaN,1.579687e+09,NaN
12,12,3220266,11100010,2054,369,15,NaN,1.579687e+09,NaN
13,13,3220267,11100010,2054,371,16,2020-01-22 10:01:42,1.579687e+09,1.579687e+09
14,14,3220268,11100010,2054,373,17,NaN,1.579687e+09,NaN

In [16]:
# Завсруудын эхлэл төгсгөлүүдийг илрүүлж цуглуулах
gap_list = []
for idx, row in test_df.iterrows():
    timestamp = row['TIMESTAMP_BK']
    if (pd.isna(timestamp)):
        prev_timestamp = test_df.iloc[idx-1]['TIMESTAMP_BK']
        if (not pd.isna(prev_timestamp)):
            gap_start = idx-1
            pass
        next_timestamp = test_df.iloc[idx+1]['TIMESTAMP_BK']
        if (not pd.isna(next_timestamp)):
            gap_end = idx+1
            gap_list.append((gap_start, gap_end))
            
len(gap_list)

250529

In [17]:
gap_list[:5]

[(0, 2), (2, 5), (5, 8), (8, 13), (13, 18)]

In [18]:
# Test дэх завсаруудын дагуу predict хийсэн timestamp-уудыг дахин scale хийх
for gap in gap_list:
    gap_start     = gap[0]
    gap_end       = gap[1]
    scale_min     = test_df.iloc[gap_start]['TIMESTAMP_BK']
    scale_max     = test_df.iloc[gap_end  ]['TIMESTAMP_BK']
    bk_timestamps = test_df.iloc[gap_start:gap_end+1]['TIMESTAMP'].values
    
    bk_timestamps[0] = scale_min
    
    rescaled = np.interp(
        bk_timestamps, 
        (bk_timestamps.min(), bk_timestamps.max()), 
        (scale_min, scale_max)
    )
    iter_count = gap_end - gap_start
    for i in range(0, iter_count+1):
        idx = gap_start+i
        test_df.at[idx, 'TIMESTAMP_SCALED'] = rescaled[i]
        test_df.at[idx, 'DATETIME_SCALED' ] = datetime.utcfromtimestamp(rescaled[i])

In [19]:
# Зарим тохиолдолд test дотор дараалсан өгөгдлүүд байгаа, энэ үед завсруудын дагуу
# scale хийж хадгалагдсан өгөгдлүүд TIMESTAMP_SCALED баганад хадгалагдаад бусад нь
# хадгалагдахгүй үлдэх боломжтой. Энэ тохиолдолд TIMESTAMP_BK-ээс утга авч хадгалах хэрэгтэй.
for idx, row in test_df.iterrows():
    timestamp_scaled = row['TIMESTAMP_SCALED']
    if (pd.isna(timestamp_scaled)):
        test_df.at[idx, 'TIMESTAMP_SCALED'] = row['TIMESTAMP_BK']

In [20]:
# Одоо байгаа test_df-ээ юу ч болсон хадгалах
test_df.to_csv("./out/test_df_timestamp_adjusted.csv")

# Эцсийн submission-д явуулах датаг хадгалах. 
# TIMESTAMP_SCALED баганы нэрийг TIMESTAMP болгож өөрчлөх хэрэгтэй.
test_df[['index', 'TIMESTAMP_SCALED']].to_csv("./out/output_ready.csv", index=False)

In [21]:
test_df.head(30)

,Unnamed: 0,index,BUSROUTE_ID,BUS_ID,BUSSTOP_ID,BUSSTOP_SEQ,RECORD_DATE,TIMESTAMP,TIMESTAMP_BK,TIMESTAMP_SCALED,DATETIME_SCALED
0,0,3220254,11100010,2054,11,3,2020-01-22 09:23:36,1.579685e+09,1.579685e+09,1.579685e+09,2020-01-22 09:23:36.000000
1,1,3220255,11100010,2054,9,4,NaN,1.579685e+09,NaN,1.579685e+09,2020-01-22 09:25:37.052632
2,2,3220256,11100010,2054,6,5,2020-01-22 09:27:26,1.579685e+09,1.579685e+09,1.579685e+09,2020-01-22 09:27:26.000000
3,3,3220257,11100010,2054,4,6,NaN,1.579685e+09,NaN,1.579685e+09,2020-01-22 09:28:58.036939
4,4,3220258,11100010,2054,147,7,NaN,1.579686e+09,NaN,1.579685e+09,2020-01-22 09:31:14.802111
5,5,3220259,11100010,2054,149,8,2020-01-22 09:32:52,1.579686e+09,1.579686e+09,1.579686e+09,2020-01-22 09:32:52.000000
6,6,3220260,11100010,2054,151,9,NaN,1.579686e+09,NaN,1.579686e+09,2020-01-22 09:36:21.833049
7,7,3220261,11100010,2054,1225,10,NaN,1.579686e+09,NaN,1.579686e+09,2020-01-22 09:38:28.524702
8,8,3220262,11100010,2054,274,11,2020-01-22 09:42:33,1.579686e+09,1.579686e+09,1.579686e+09,2020-01-22 09:42:33.000000
9,9,3220263,11100010,2054,273,12,NaN,1.579686e+09,NaN,1.579686e+09,2020-01-22 09:45:02.754325
10,10,3220264,11100010,2054,279,13,NaN,1.579687e+09,NaN,1.579687e+09,2020-01-22 09:52:06.837370
11,11,3220265,11100010,2054,281,14,NaN,1.579687e+09,NaN,1.579687e+09,2020-01-22 09:56:22.612457
12,12,3220266,11100010,2054,369,15,NaN,1.579687e+09,NaN,1.579687e+09,2020-01-22 09:58:32.487889
13,13,3220267,11100010,2054,371,16,2020-01-22 10:01:42,1.579687e+09,1.579687e+09,1.579687e+09,2020-01-22 10:01:42.000000
14,14,3220268,11100010,2054,373,17,NaN,1.579687e+09,NaN,1.579688e+09,2020-01-22 10:05:20.226843
15,15,3220269,11100010,2054,375,18,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:07:01.032136
16,16,3220270,11100010,2054,377,19,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:08:23.005671
17,17,3220271,11100010,2054,379,20,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:09:52.733459
18,18,3220272,11100010,2054,380,21,2020-01-22 10:11:28,1.579688e+09,1.579688e+09,1.579688e+09,2020-01-22 10:11:28.000000
19,19,3220273,11100010,2054,378,22,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:13:00.869392
20,20,3220274,11100010,2054,376,23,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:14:20.128614
21,21,3220275,11100010,2054,374,24,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:16:13.813559
22,22,3220276,11100010,2054,372,25,NaN,1.579689e+09,NaN,1.579688e+09,2020-01-22 10:20:58.826520
23,23,3220277,11100010,2054,370,26,NaN,1.579689e+09,NaN,1.579689e+09,2020-01-22 10:23:12.526421
24,24,3220278,11100010,2054,585,27,2020-01-22 10:24:51,1.579689e+09,1.579689e+09,1.579689e+09,2020-01-22 10:24:51.000000
25,25,3220279,11100010,2054,193,28,NaN,1.579689e+09,NaN,1.579689e+09,2020-01-22 10:30:36.572289
26,26,3220280,11100010,2054,100000010,29,NaN,1.579689e+09,NaN,1.579689e+09,2020-01-22 10:32:08.126506
27,27,3220281,11100010,2054,155,30,2020-01-22 10:34:47,1.579689e+09,1.579689e+09,1.579689e+09,2020-01-22 10:34:47.000000
28,28,3220282,11100010,2054,153,31,NaN,1.579689e+09,NaN,1.579689e+09,2020-01-22 10:36:13.465909
29,29,3220283,11100010,2054,152,32,NaN,1.579690e+09,NaN,1.579689e+09,2020-01-22 10:37:32.383207